name: KBOT-CICD

on:
  push:
#    branches: [ main ]
#  pull_request:
#    branches: [ main ]

env:
  TARGETARCH: amd64
  TARGETOS: linux
  CGO_ENABLED: 0
  GITHUBACTOR: ${{ vars.GITHUBACTOR }}
  GITHUBTOKEN: ${{ secrets.GITHUBTOKEN }}
  
jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.4'
          cache: true

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          args: --timeout=5m

      - name: Build Image
        run: make image TARGETARCH=${{ env.TARGETARCH }} TARGETOS=${{ env.TARGETOS }}

      - name: Push 
        run: make push 
