name: KBOT-CICD

on:
  push:
#    branches: [ main ]
#  pull_request:
#    branches: [ main ]

env:
  TARGETARCH: amd64
  TARGETOS: linux
  CGO_ENABLED: 0
  
jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.25.4'
          cache: true

#      - name: Run golangci-lint
#        uses: golangci/golangci-lint-action@v3
#        with:
#          version: latest
#          args: --timeout=5m

      - name: Run tests
        run: make lint 

      - name: Build Image
        run: make image TARGETARCH=${{ env.TARGETARCH }} TARGETOS=${{ env.TARGETOS }}

      - name: Push 
        run: make push 
