name: KBOT-CICD


permissions:
  contents: write

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

env:
  TARGETARCH: amd64
  TARGETOS: linux
  CGO_ENABLED: 0
  GITHUBACTOR: ${{ vars.GITHUBACTOR }}
  GITHUBTOKEN: ${{ secrets.GITHUBTOKEN }}
  
jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.4'
          cache: true

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          args: --timeout=5m

  cd:
    name: CD
    needs: ci
    if: github.ref == 'refs/heads/develop'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.4'
          cache: true

      - name: Build Image
        run: make image TARGETARCH=${{ env.TARGETARCH }} TARGETOS=${{ env.TARGETOS }}

      - name: Push 
        run: make push 

      - name: Set version
        run: |
          VERSION=$(git describe --tags --abbrev=0)-$(git rev-parse --short HEAD)
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "Using version: $VERSION"

      - name: Update Helm chart
        uses: mikefarah/yq@master
        with:
          cmd: yq -i '.image.tag=strenv(VERSION) | .image.arch=strenv(TARGETARCH)' helm/values.yaml

      - name: Commit Helm chart changes
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add helm/values.yaml
          git commit -m "chore: update version to ${{ env.VERSION }}"
          git push

      - name: Cleanup
        run: make clean TARGETARCH=${{ env.TARGETARCH }}

